@import'./_zeroing.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

html {
  overflow-y: scroll;
}

._container {
  width: 1200px;
  margin: 0 auto;

  @media (max-width: 1240px) {
    width: 1020px;
  }

  @media (max-width: 1080px) {
    width: 950px;
  }

  @media (max-width: 968px) {
    width: 720px;
  }

  @media (max-width: 768px) {
    width: 95%;
  }
}